<div class="container">
  <mat-card *ngFor="let cardData of data">
    <mat-card-header>
      <mat-card-title>{{cardData.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{cardData.text}}
    </mat-card-content>
  </mat-card>
</div>
