<button mat-flat-button color="primary" (click)="randomizeCardData()">Randomize card data</button>
<button mat-flat-button color="primary" (click)="randomizeTableData()">Randomize table data</button>
<mat-tab-group>
  <mat-tab label="Card collection">
    <p>Basic usage for card collection with asynchronous data</p>
    <mp-card-collection [data]="cardCollectionData | async"></mp-card-collection>
  </mat-tab>

  <mat-tab label="Table grid">
    <p>Basic usage for table grid with asynchronous data</p>
    <mp-table-grid [data]="tableGridData | async"></mp-table-grid>
  </mat-tab>

  <mat-tab label="Component selector">
    <p>Basic usage for component selector with generic components and asynchronous data</p>
    <mp-component-selector [tabs]="componentSelectorTabs"></mp-component-selector>
  </mat-tab>
</mat-tab-group>
