<mat-tab-group>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.title">
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>

      <span class="spacer"></span>

      <mat-form-field>
        <input type="search" matInput placeholder="Search"/>
      </mat-form-field>

      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>

    <mat-paginator [length]="(tab.data$ | async).length" [pageSize]="4" [pageSizeOptions]="[2, 4, 6, 10]"></mat-paginator>

    <ng-template mpDynamicRenderer [component]="tab.component" [data]="tab.data$ | async"
                 [componentParams]="tab.componentParams" [componentSetupFn]="tab.componentSetupFn"></ng-template>
  </mat-tab>
</mat-tab-group>
